.contact, .contacth2, .contacth3, .copyright {
    color: #000;
}

.footerIcon {
    padding: 10px;
}

.footerList li {
    position: relative;
    margin: 20px;
    padding-top: 12px;
    cursor: pointer;
}

.footerList .github {
    font-size: 3rem;
    color: #000 ;
}

.footerList .linkedin {
    font-size: 3rem;
    color: #007bb5;
}

.footerList .facebook {
    font-size: 3rem;
    color: #3B5998;
}

.footerList {
    align-content: space-around;
}
/* .contactAnchor {
    padding-top: 40px;
    margin-top: 40px;
    color: #1c1d1f;
} */