.navigationbar {
    min-height: 5rem;
    background-color: #222325;
}

.navbar-brand {
    font-family: "Caveat", cursive, serif;
    font-size: 2.6rem !important;
    color: aqua;
}

.nav-link {
    font-size: 1.5rem !important;
    color: #66d9ed !important;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-brand:hover {
    color: #66d9ed;
}

.navbar-brand {
    display: inline-block;
    position: relative;
    color: aqua;
}

.navbar-brand::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #66d9ed;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-brand:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}