p {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#projects {
    padding-top: 15px;
    font-size: 24px;
}

.projects {
    color: #5DADE2;
    text-align: center;
    padding-bottom: 50px;
}

.featured {
    max-width: 100% !important;
}

@media screen and (min-width: 992px) {

    .featured {
        max-width: 100% !important;
        opacity: 50%;
    }

    .glowBorder {
        max-width: 100% !important;
    }

    .featured:hover {
        opacity: 100%;
    }
}

.projectImg {
    width: 100%;
}

.showcase {
    height: 500px;
    padding-top: 90px;
}



.otherProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    text-align: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    border-radius: 47px;
    box-shadow: inset 30px 30px 75px #4c4a4a,
        inset -30px -30px 75px #7c7a7a;
}

.projectPadding {
    padding: 10px;
}

.projectDescription {
    flex-grow: 1;
}

.projectName,
.projectDescription {
    font-size: 1em;
    color: #5DADE2;
}

.fa-colour {
    color: #000;
}

.title {
    color: #6499E9;
}

.tech {
    color: #A6F6FF;
}

.glowBorder {
    padding: 0.6em 0;
    margin: 10px 0;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    max-width: 90dvw;
}

.glowBorder:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingglowBorder 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingglowBorder {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glowBorder:hover:before {
    opacity: 1;
}

.glowBorder:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}