p {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#projects {
    padding-top: 15px;
    font-size: 24px;
}

.projects {
    color: #9EDDFF;
    text-align: center;
    padding-bottom: 50px;
}

.prima,
.techBlog,
.egaugnal {
    max-width: 100% !important;
}

@media screen and (min-width: 992px) {

    .prima,
    .techBlog,
    .egaugnal {
        max-width: 100% !important;
        opacity: 50%;
    }

    .glowBorder {
        max-width: 100% !important;
    }

    .prima:hover,
    .techBlog:hover,
    .egaugnal:hover {
        opacity: 100%;
    }

    /* .projectImg {
        width: 33dvw !important;
        height: 40dvh !important;
    }

    .otherProjects {
        text-align: center;  
        width: 50dvw;
        height: 100dvh;
        margin: auto;
    }
    
    .carousel-item{
        height: 75dvh !important;
        width: 100% !important;
    } */
}

.projectImg {
    /* width: 63dvw; */
    width: 100%;
}

/* .carousel-item{
    height: 100dvh;
    width: 100%;
} */

.showcase {
    height: 500px;
    padding-top: 90px;
}



.otherProjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    text-align: center;

    /* overflow: auto;
    display: flex;
    width: 50%; 
    padding: 20px;
    border-radius: 25px;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;  */
}

.project-card {
    /* background-image: linear-gradient(#6499E9, #232D3F); */
    background-image: linear-gradient(#DDDBCB, #B1DDF1);
    /* height: 450px;
    width: 450px;
    scroll-snap-align: start;
    border-radius: 25px;
    margin: 20px;  */
    border-radius: 47px;
    background: #646262;
    box-shadow: inset 30px 30px 75px #4c4a4a,
        inset -30px -30px 75px #7c7a7a;
}

.projectPadding {
    padding: 10px;
}

.projectName,
.projectDescription {
    font-size: 1em;
    color: #f1683a;
}

.fa-colour {
    color: #000;
}

.title {
    color: #6499E9;
}

.tech {
    color: #A6F6FF;
}

.glowBorder {
    padding: 0.6em 0;
    margin: 10px 0;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    max-width: 90dvw;
}

.glowBorder:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingglowBorder 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingglowBorder {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glowBorder:hover:before {
    opacity: 1;
}

.glowBorder:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}