.about {
    text-align: center;
    padding-bottom: 10px;
    color: #9EDDFF;
}

.skills {
    gap:10px;
    padding: 0 5px;
}
#skills {
    padding: 15px 0;
}

.fa-cloud-arrow-down {
    color: #e6d70a;
    font-size: 2em;
}

.aboutMe code {
    color: #e6d70a;
}

.educationList code {
    color:#2976a3;
}

.frontEndList code {
    color: #2ece83;
}

.devToolList code {
    color: #20afd3;
}

.aboutMe, .educationList, .frontEndList, .backEndList, .devToolList {
    text-align: center;
    background-color: #7e7979;
    max-width: 95vw;
}

.aboutMe {
    border: solid 4px #e6d70a;
}

.educationList {
    border: solid 4px #2976a3;
    background-color: #3a3838;
}

.frontEndList {
    border: solid 4px #2ece83;
}

.backEndList{
    border: solid 4px #d63384;
    background-color: #3a3838;
}

.devToolList {
    border: solid 4px #20afd3;
}

.frontEndImg, .aboutMeImg {
    max-width: 60% !important;
}

.skillTitle {
    font-family:'Montserrat', sans-serif ;
    font-weight : bold !important;
}

.figure {
    padding-top: 8px;
}

