h1 {
    text-align: center;
    padding-bottom: 10px;
}

.skills {
    gap:10px;
    padding: 0 5px;
}
#skills {
    padding-top: 15px;
}

.frontEndList code {
    color: #198754 !important;
}

.devToolList code {
    color: #20afd3 !important;
}

.aboutMe code {
    color: #e6d70a !important;
}

.frontEndList, .backEndList, .devToolList, .aboutMe {
    text-align: center;
}

.frontEndImg, .aboutMeImg {
    max-width: 60% !important;
}

.devToolsImg {
    height: 100% !important;
}

.skillTitle {
    font-family:'Montserrat', sans-serif ;
    font-weight : bold !important;
}

.skillsHeader {
    border-top: solid 2px whitesmoke;
    border-left: solid 2px whitesmoke;
    border-right: solid 2px whitesmoke;
}


.bottomBorder {
    border-bottom: solid 2px whitesmoke;
    border-left: solid 2px whitesmoke;
    border-right: solid 2px whitesmoke;
}

.figure {
    padding-top: 8px;
}