h1 {
    text-align: center;
}

#skills {
    padding-top: 15px;
}

.skills {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.skills::after {
    background-image: url("../images/helloHTML.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
     opacity: 0.25;
}

.frontEndList code {
    color: #198754 !important;
}

i {
    font-size: 3rem;
    margin: 4px;
    color: rgb(104, 155, 187);
}

.skillTitle {
    font-family:'Montserrat', sans-serif ;
    font-weight : bold!important;;
    text-align:start ;
}