body {
  /* text-align: center; */
/* }

.App { */
  /* background-image: url("./components/images/helloHTML.png"); */
  /* background-size: cover;
  height: fit-content; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1c1d1f ;
  padding-top: 120px;
  color: azure;
}

/* #1c1d1f */