.projectsSection {
  background-color: #000;
}

.contactSection {
  text-align: center;
}

@media screen and (min-width:992px) {
  .navbarSection {
    height: 10vh;
    width: 100vw;
  }
  .skillsSection {
    min-height: 60vh !important;
  }
}

.navbarSection {
  width: 100vw;
}

.anchor {
  padding-top: 40px;
  margin-top: 40px;
}