body {
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #3a3c41; */
  /* padding-top: 40px !important; */
  /* scroll-padding-top: 40px !important; */
  color: azure;
  /* margin: 0; */
  /* height: 100%;
  width: 100%; */
  padding: 0;
}



/* #1c1d1f */

.homeSection {
  /* height: 100vh;
  width: 100vw;
  background-color: #000;
  background-image: url(./components/assets/images/main_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.projectsSection {
  background-color: #000;
}

.skillsSection,
.contactSection {
  /* background-color: #dfdfe2; */
}

.contactSection {
  text-align: center;
}

@media screen and (max-width:425px) {
  /* .homeSection {
    background-image: url(./components/assets/images/main_background_mobile.png);
    background-position: center;
    background-size: contain;
    width: auto;
  } */
  .scroll-down {
    margin-top: 0.1rem;
  }
}

@media screen and (min-width:992px) {

  .skillsSection {
    min-height: 60vh !important;
  }
}

.navbarSection {
  height: 10vh;
  width: 100vw;
}

.anchor {
  padding-top: 40px;
  margin-top: 40px;
  caret-color: #3a3c41 !important;
}